<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about_share_text</key>
	<string>#3c3c3c</string>
	<key>amount1</key>
	<string>#de4a22</string>
	<key>amount2</key>
	<string>#3c3c3c</string>
	<key>amount3</key>
	<string>#ffffff</string>
	<key>amount4</key>
	<string>#9e9e9e</string>
	<key>amount5</key>
	<string>#ee623c</string>
	<key>content_text1</key>
	<string>#b4b4b4</string>
	<key>content_text2</key>
	<string>#969696</string>
	<key>content_text3</key>
	<string>#3c3c3c</string>
	<key>coupon_amount</key>
	<string>#157dfb</string>
	<key>coupon_and_promotions_title</key>
	<string>#de4a22</string>
	<key>defaule_hollow_button_text1</key>
	<string>#f08519</string>
	<key>defaule_hollow_button_text2</key>
	<string>#de4a22</string>
	<key>defaule_hollow_button_text3</key>
	<string>3c3c3c</string>
	<key>defaule_hollow_button_text4</key>
	<string>#1e1e1e</string>
	<key>default_button_text</key>
	<string>#ffffff</string>
	<key>default_promotion_code</key>
	<string>#de4a22</string>
	<key>disable_click_button_text1</key>
	<string>#969696</string>
	<key>disable_click_button_text2</key>
	<string>#b4b4b4</string>
	<key>first_level_title1</key>
	<string>#3c3c3c</string>
	<key>first_level_title2</key>
	<string>#ffffff</string>
	<key>fourth_level_title</key>
	<string>#ffffff</string>
	<key>function_default_text</key>
	<string>#3c3c3c</string>
	<key>function_gray_text</key>
	<string>#969696</string>
	<key>gray_promotion_code</key>
	<string>#b4b4b4</string>
	<key>input_box_prompt_checked</key>
	<string>#3c3c3c</string>
	<key>input_box_prompt_default</key>
	<string>#b4b4b4</string>
	<key>input_box_text</key>
	<string>#b4b4b4</string>
	<key>jump_function_text1</key>
	<string>#f08519</string>
	<key>jump_function_text2</key>
	<string>#3c3c3c</string>
	<key>jump_function_text3</key>
	<string>#159eed</string>
	<key>jump_function_text4</key>
	<string>#45c1ff</string>
	<key>jump_function_text5</key>
	<string>#157dfb</string>
	<key>jump_function_text6</key>
	<string>#f7da8c</string>
	<key>jump_function_text7</key>
	<string>#ee623c</string>
	<key>jump_function_text8</key>
	<string>#969696</string>
	<key>jump_function_text9</key>
	<string>#666666</string>
	<key>label_text</key>
	<string>#ffffff</string>
	<key>navigation_bar_function</key>
	<string>#ffffff</string>
	<key>tabbar_unselect</key>
	<string>#666666</string>
	<key>tabbar_select</key>
	<string>#a50009</string>
	<key>order_status_text</key>
	<string>#ee623c</string>
	<key>original_price1</key>
	<string>#969696</string>
	<key>original_price2</key>
	<string>#b4b4b4</string>
	<key>overdue_coupon_left_text</key>
	<string>#b4b4b4</string>
	<key>overdue_coupon_right_text</key>
	<string>#b4b4b4</string>
	<key>popup_box_text1</key>
	<string>#3c3c3c</string>
	<key>popup_box_text2</key>
	<string>#de4a22</string>
	<key>popup_box_text3</key>
	<string>#b4b4b4</string>
	<key>preferential_prompt_text</key>
	<string>#3c3c3c</string>
	<key>prompt_text1</key>
	<string>#f08519</string>
	<key>prompt_text2</key>
	<string>#3c3c3c</string>
	<key>prompt_text3</key>
	<string>#e24049</string>
	<key>prompt_text4</key>
	<string>#b4b4b4</string>
	<key>prompt_text5</key>
	<string>#646464</string>
	<key>second_level_title1</key>
	<string>#969696</string>
	<key>second_level_title2</key>
	<string>#dcdcdc</string>
	<key>second_level_title3</key>
	<string>#999999</string>
	<key>select_box_text1</key>
	<string>#f08519</string>
	<key>select_box_text2</key>
	<string>#df3733</string>
	<key>select_box_text3</key>
	<string>#ffffff</string>
	<key>select_box_text4</key>
	<string>#3c3c3c</string>
	<key>select_box_text5</key>
	<string>#b4b4b4</string>
	<key>select_box_text6</key>
	<string>#b4b4b4</string>
	<key>share_button_text</key>
	<string>#333333</string>
	<key>share_title</key>
	<string>#1e1e1e</string>
	<key>spinner_text1</key>
	<string>#3c3c3c</string>
	<key>spinner_text2</key>
	<string>#969696</string>
	<key>third_level_title1</key>
	<string>#787878</string>
	<key>third_level_title2</key>
	<string>#de4a22</string>
	<key>usable_coupon_left_text</key>
	<string>#ffffff</string>
	<key>usable_coupon_right_text1</key>
	<string>#3c3c3c</string>
	<key>usable_coupon_right_text2</key>
	<string>#0f0f0f</string>
	<key>myordes_btn_title_text1</key>
	<string>#a50009</string>
	<key>addcard_line</key>
	<string>#dcdcdc</string>
	<key>addcard_backgroud</key>
	<string>#0f0f0f</string>
	<key>check_activity_title</key>
	<string>#f75231</string>
	<key>MyOrders_BackGroudColor</key>
	<string>e1e1e1</string>
	<key>order_bottom_bgColor</key>
	<string>#4b5057</string>
	<key>order_bottom_disabled</key>
	<string>#9e9e9e</string>
	<key>order_code_label</key>
	<string>#f8562b</string>
	<key>order_bottom_selected</key>
	<string>#ec364b</string>
	<key>order_bottom_disabled_title</key>
	<string>#bfbebe</string>
	<key>order_cart_clear_text</key>
	<string>#999999</string>
	<key>money_color_text1</key>
	<string>#ec364b</string>
	<key>brand_activity_textColor</key>
	<string>#333333</string>
	<key>order_list_nameText</key>
	<string>#333333</string>
	<key>order_orderNumber</key>
	<string>#666666</string>
	<key>order_take_cellbg</key>
	<string>#f0f0f0</string>
</dict>
</plist>
